<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (supplier()) {
      <div>
        <h2 data-cy="supplierDetailsHeading">
          <span jhiTranslate="azimuteErpSpringAngularMonolith01App.supplier.detail.title">Supplier</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ supplier()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="azimuteErpSpringAngularMonolith01App.supplier.acronym">Acronym</span></dt>
          <dd>
            <span>{{ supplier()!.acronym }}</span>
          </dd>
          <dt><span jhiTranslate="azimuteErpSpringAngularMonolith01App.supplier.companyName">Company Name</span></dt>
          <dd>
            <span>{{ supplier()!.companyName }}</span>
          </dd>
          <dt><span jhiTranslate="azimuteErpSpringAngularMonolith01App.supplier.streetAddress">Street Address</span></dt>
          <dd>
            <span>{{ supplier()!.streetAddress }}</span>
          </dd>
          <dt><span jhiTranslate="azimuteErpSpringAngularMonolith01App.supplier.houseNumber">House Number</span></dt>
          <dd>
            <span>{{ supplier()!.houseNumber }}</span>
          </dd>
          <dt><span jhiTranslate="azimuteErpSpringAngularMonolith01App.supplier.locationName">Location Name</span></dt>
          <dd>
            <span>{{ supplier()!.locationName }}</span>
          </dd>
          <dt><span jhiTranslate="azimuteErpSpringAngularMonolith01App.supplier.city">City</span></dt>
          <dd>
            <span>{{ supplier()!.city }}</span>
          </dd>
          <dt><span jhiTranslate="azimuteErpSpringAngularMonolith01App.supplier.stateProvince">State Province</span></dt>
          <dd>
            <span>{{ supplier()!.stateProvince }}</span>
          </dd>
          <dt><span jhiTranslate="azimuteErpSpringAngularMonolith01App.supplier.zipPostalCode">Zip Postal Code</span></dt>
          <dd>
            <span>{{ supplier()!.zipPostalCode }}</span>
          </dd>
          <dt><span jhiTranslate="azimuteErpSpringAngularMonolith01App.supplier.countryRegion">Country Region</span></dt>
          <dd>
            <span>{{ supplier()!.countryRegion }}</span>
          </dd>
          <dt><span jhiTranslate="azimuteErpSpringAngularMonolith01App.supplier.pointLocation">Point Location</span></dt>
          <dd>
            @if (supplier()!.pointLocation) {
              <div>
                <a
                  (click)="openFile(supplier()!.pointLocation ?? '', supplier()!.pointLocationContentType)"
                  jhiTranslate="entity.action.open"
                  >Open</a
                >
                {{ supplier()!.pointLocationContentType }}, {{ byteSize(supplier()!.pointLocation ?? '') }}
              </div>
            }
          </dd>
          <dt><span jhiTranslate="azimuteErpSpringAngularMonolith01App.supplier.mainEmail">Main Email</span></dt>
          <dd>
            <span>{{ supplier()!.mainEmail }}</span>
          </dd>
          <dt><span jhiTranslate="azimuteErpSpringAngularMonolith01App.supplier.phoneNumber1">Phone Number 1</span></dt>
          <dd>
            <span>{{ supplier()!.phoneNumber1 }}</span>
          </dd>
          <dt><span jhiTranslate="azimuteErpSpringAngularMonolith01App.supplier.phoneNumber2">Phone Number 2</span></dt>
          <dd>
            <span>{{ supplier()!.phoneNumber2 }}</span>
          </dd>
          <dt>
            <span jhiTranslate="azimuteErpSpringAngularMonolith01App.supplier.customAttributesDetailsJSON"
              >Custom Attributes Details JSON</span
            >
          </dt>
          <dd>
            <span>{{ supplier()!.customAttributesDetailsJSON }}</span>
          </dd>
          <dt><span jhiTranslate="azimuteErpSpringAngularMonolith01App.supplier.activationStatus">Activation Status</span></dt>
          <dd>
            <span
              [jhiTranslate]="'azimuteErpSpringAngularMonolith01App.ActivationStatusEnum.' + (supplier()!.activationStatus ?? 'null')"
              >{{
                {
                  null: '',
                  INACTIVE: 'INACTIVE',
                  ACTIVE: 'ACTIVE',
                  ON_HOLD: 'ON_HOLD',
                  PENDENT: 'PENDENT',
                  BLOCKED: 'BLOCKED',
                  INVALID: 'INVALID'
                }[supplier()!.activationStatus ?? 'null']
              }}</span
            >
          </dd>
          <dt><span jhiTranslate="azimuteErpSpringAngularMonolith01App.supplier.representativePerson">Representative Person</span></dt>
          <dd>
            @if (supplier()!.representativePerson) {
              <div>
                <a [routerLink]="['/person', supplier()!.representativePerson?.id, 'view']">{{
                  supplier()!.representativePerson?.lastname
                }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="azimuteErpSpringAngularMonolith01App.supplier.toProduct">To Product</span></dt>
          <dd>
            @for (toProduct of supplier()!.toProducts; track $index; let last = $last) {
              <span>
                <a [routerLink]="['/product', toProduct.id, 'view']">{{ toProduct?.id }}</a
                >{{ last ? '' : ', ' }}
              </span>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/supplier', supplier()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
