<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-customer-heading"
        data-cy="CustomerCreateUpdateHeading"
        jhiTranslate="azimuteErpSpringAngularMonolith01App.customer.home.createOrEditLabel"
      >
        Create or edit a Customer
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="azimuteErpSpringAngularMonolith01App.customer.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label
            class="form-label"
            for="field_customerBusinessCode"
            jhiTranslate="azimuteErpSpringAngularMonolith01App.customer.customerBusinessCode"
            >Customer Business Code</label
          >
          <input
            type="text"
            class="form-control"
            name="customerBusinessCode"
            id="field_customerBusinessCode"
            data-cy="customerBusinessCode"
            formControlName="customerBusinessCode"
          />
          @if (
            editForm.get('customerBusinessCode')!.invalid &&
            (editForm.get('customerBusinessCode')!.dirty || editForm.get('customerBusinessCode')!.touched)
          ) {
            <div>
              @if (editForm.get('customerBusinessCode')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('customerBusinessCode')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '15' }"
                  >This field cannot be longer than 15 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_fullname" jhiTranslate="azimuteErpSpringAngularMonolith01App.customer.fullname"
            >Fullname</label
          >
          <input type="text" class="form-control" name="fullname" id="field_fullname" data-cy="fullname" formControlName="fullname" />
          @if (editForm.get('fullname')!.invalid && (editForm.get('fullname')!.dirty || editForm.get('fullname')!.touched)) {
            <div>
              @if (editForm.get('fullname')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('fullname')?.errors?.minlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: '2' }"
                  >This field is required to be at least 2 characters.</small
                >
              }
              @if (editForm.get('fullname')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '80' }"
                  >This field cannot be longer than 80 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_customAttributesDetailsJSON"
            jhiTranslate="azimuteErpSpringAngularMonolith01App.customer.customAttributesDetailsJSON"
            >Custom Attributes Details JSON</label
          >
          <input
            type="text"
            class="form-control"
            name="customAttributesDetailsJSON"
            id="field_customAttributesDetailsJSON"
            data-cy="customAttributesDetailsJSON"
            formControlName="customAttributesDetailsJSON"
          />
          @if (
            editForm.get('customAttributesDetailsJSON')!.invalid &&
            (editForm.get('customAttributesDetailsJSON')!.dirty || editForm.get('customAttributesDetailsJSON')!.touched)
          ) {
            <div>
              @if (editForm.get('customAttributesDetailsJSON')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '2048' }"
                  >This field cannot be longer than 2048 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_customerStatus" jhiTranslate="azimuteErpSpringAngularMonolith01App.customer.customerStatus"
            >Customer Status</label
          >
          <select
            class="form-control"
            name="customerStatus"
            formControlName="customerStatus"
            id="field_customerStatus"
            data-cy="customerStatus"
          >
            <option [ngValue]="null">{{ 'azimuteErpSpringAngularMonolith01App.CustomerStatusEnum.null' | translate }}</option>
            @for (customerStatusEnum of customerStatusEnumValues; track $index) {
              <option [value]="customerStatusEnum">
                {{ 'azimuteErpSpringAngularMonolith01App.CustomerStatusEnum.' + customerStatusEnum | translate }}
              </option>
            }
          </select>
          @if (
            editForm.get('customerStatus')!.invalid && (editForm.get('customerStatus')!.dirty || editForm.get('customerStatus')!.touched)
          ) {
            <div>
              @if (editForm.get('customerStatus')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_activationStatus"
            jhiTranslate="azimuteErpSpringAngularMonolith01App.customer.activationStatus"
            >Activation Status</label
          >
          <select
            class="form-control"
            name="activationStatus"
            formControlName="activationStatus"
            id="field_activationStatus"
            data-cy="activationStatus"
          >
            <option [ngValue]="null">{{ 'azimuteErpSpringAngularMonolith01App.ActivationStatusEnum.null' | translate }}</option>
            @for (activationStatusEnum of activationStatusEnumValues; track $index) {
              <option [value]="activationStatusEnum">
                {{ 'azimuteErpSpringAngularMonolith01App.ActivationStatusEnum.' + activationStatusEnum | translate }}
              </option>
            }
          </select>
          @if (
            editForm.get('activationStatus')!.invalid &&
            (editForm.get('activationStatus')!.dirty || editForm.get('activationStatus')!.touched)
          ) {
            <div>
              @if (editForm.get('activationStatus')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_buyerPerson" jhiTranslate="azimuteErpSpringAngularMonolith01App.customer.buyerPerson"
            >Buyer Person</label
          >
          <select
            class="form-control"
            id="field_buyerPerson"
            data-cy="buyerPerson"
            name="buyerPerson"
            formControlName="buyerPerson"
            [compareWith]="comparePerson"
          >
            @if (editForm.get(['buyerPerson'])!.value == null) {
              <option [ngValue]="null" selected></option>
            }
            @for (personOption of peopleSharedCollection; track $index) {
              <option [ngValue]="personOption">{{ personOption.lastname }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['buyerPerson'])!.invalid && (editForm.get(['buyerPerson'])!.dirty || editForm.get(['buyerPerson'])!.touched)) {
          <div>
            @if (editForm.get(['buyerPerson'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
            }
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_customerType" jhiTranslate="azimuteErpSpringAngularMonolith01App.customer.customerType"
            >Customer Type</label
          >
          <select
            class="form-control"
            id="field_customerType"
            data-cy="customerType"
            name="customerType"
            formControlName="customerType"
            [compareWith]="compareCustomerType"
          >
            <option [ngValue]="null"></option>
            @for (customerTypeOption of customerTypesSharedCollection; track $index) {
              <option [ngValue]="customerTypeOption">{{ customerTypeOption.name }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_district" jhiTranslate="azimuteErpSpringAngularMonolith01App.customer.district"
            >District</label
          >
          <select
            class="form-control"
            id="field_district"
            data-cy="district"
            name="district"
            formControlName="district"
            [compareWith]="compareDistrict"
          >
            <option [ngValue]="null"></option>
            @for (districtOption of districtsSharedCollection; track $index) {
              <option [ngValue]="districtOption">{{ districtOption.name }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
