<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (paymentGateway()) {
      <div>
        <h2 data-cy="paymentGatewayDetailsHeading">
          <span jhiTranslate="azimuteErpSpringAngularMonolith01App.paymentGateway.detail.title">Payment Gateway</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ paymentGateway()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="azimuteErpSpringAngularMonolith01App.paymentGateway.aliasCode">Alias Code</span></dt>
          <dd>
            <span>{{ paymentGateway()!.aliasCode }}</span>
          </dd>
          <dt><span jhiTranslate="azimuteErpSpringAngularMonolith01App.paymentGateway.description">Description</span></dt>
          <dd>
            <span>{{ paymentGateway()!.description }}</span>
          </dd>
          <dt>
            <span jhiTranslate="azimuteErpSpringAngularMonolith01App.paymentGateway.businessHandlerClazz">Business Handler Clazz</span>
          </dt>
          <dd>
            <span>{{ paymentGateway()!.businessHandlerClazz }}</span>
          </dd>
          <dt><span jhiTranslate="azimuteErpSpringAngularMonolith01App.paymentGateway.activationStatus">Activation Status</span></dt>
          <dd>
            <span
              [jhiTranslate]="'azimuteErpSpringAngularMonolith01App.ActivationStatusEnum.' + (paymentGateway()!.activationStatus ?? 'null')"
              >{{
                {
                  null: '',
                  INACTIVE: 'INACTIVE',
                  ACTIVE: 'ACTIVE',
                  ON_HOLD: 'ON_HOLD',
                  PENDENT: 'PENDENT',
                  BLOCKED: 'BLOCKED',
                  INVALID: 'INVALID'
                }[paymentGateway()!.activationStatus ?? 'null']
              }}</span
            >
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/payment-gateway', paymentGateway()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
